@charset "UTF-8";
/*РћР±РЅСѓР»РµРЅРёРµ*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.lo .highlandWear__choose__block_Lo_6, .lo .highlandWear__choose__block_Lo_5, .lo .highlandWear__choose__block_Lo_4, .lo .highlandWear__choose__block_Lo_3, .lo .highlandWear__choose__block_Lo_2, .lo .highlandWear__choose__block_Lo_1, .hi .highlandWear__choose__block_Hi_5, .hi .highlandWear__choose__block_Hi_3, .hi .highlandWear__choose__block_Hi_2 {
  border: 1px solid #6f6f6f;
  width: 233px;
  height: 368px;
}

body {
  margin: 0px auto;
  background: #dedede;
  width: 1440px;
  height: 3521px;
  border: 1px solid #6f6f6f;
}

.header {
  display: flex;
  max-width: 1440px;
  max-height: 186px;
}

.h1 {
  margin-left: 20px;
  margin-top: 10px;
  max-width: 691px;
  max-height: 166px;
  color: var(--Almost-black, #020202);
  /* Logo */
  font-family: Space Grotesk;
  font-size: 98px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%; /* 83.3px */
  text-transform: uppercase;
}

.menu {
  margin-top: 10px;
  margin-left: 242px;
  max-width: 105px;
  max-height: 166px;
  color: var(--Almost-black, #020202);
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.menu ul li a {
  color: #020202;
}

.menu2 {
  margin-top: 10px;
  margin-left: 140px;
  color: var(--Almost-black, #020202);
  /* Link */
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.menu2 ul li a {
  color: #020202;
}

.menu3 {
  margin-top: 10px;
  margin-left: 124px;
  color: var(--Almost-black, #020202);
  /* Link */
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.menu3 ul li a {
  color: #020202;
}

.present {
  display: flex;
  margin: 20px;
  max-width: 1400px;
  border: 1px solid #6f6f6f;
}

.present__imgRectangle55 {
  padding: 11px 11px;
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.present__text1 {
  padding: 11px 11px 5px 11px;
  color: var(--Almost-black, #020202);
  /* Headline 1 */
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%; /* 40.8px */
  text-transform: uppercase;
}

.present__text2 {
  padding: 0px 11px 0px 11px;
  color: var(--Almost-black, #020202);
  /* Text 1 */
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.present__blocks {
  margin-top: 137px;
  width: 466px;
  height: 311px;
  border: 1px solid #6f6f6f;
  border-top: 0px;
  background: url(..//img/line-10.png) 0 0 no-repeat, url(..//img/line-3.png) no-repeat, url(..//img/line-4.png) right no-repeat, url(..//img/line-9.png) center no-repeat;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.highlandWear {
  max-width: 1400px;
  min-height: 739px;
  border: 1px solid #6f6f6f;
  margin: 121px 20px 0px 20px;
}

.highlandWear__title {
  padding: 20px 100px 20px 12px;
  color: var(--Almost-black, #020202);
  /* Headline 1 */
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%; /* 40.8px */
  text-transform: uppercase;
  background: url(..//img/union.svg) 1300px 20px no-repeat;
}

.highlandWear__choose {
  border: 1px solid #6f6f6f;
  border-left: 0px;
}

.hi {
  display: flex;
}
.hi .highlandWear__choose__block_Hi_1 {
  width: 233px;
  height: 369px;
}
.hi .highlandWear__choose__block_Hi_1 .row1_image {
  width: 213px;
  height: 300px;
  margin: 10px 9px 10px 9px;
  background: url(../img/rectangle-58.png) no-repeat;
}
.hi .highlandWear__choose__block_Hi_1 .text_row1_image1 {
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-right: 0px;
  height: 48px;
  margin: 10px 0px 0px 0px;
  padding: 13px 81px 13px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/row1_img1.svg) 190px 17px no-repeat;
}
.hi .highlandWear__choose__block_Hi_1 .text_row1_image1 a {
  color: black;
}
.hi .highlandWear__choose__block_Hi_2 {
  border-top: 0px;
}
.hi .highlandWear__choose__block_Hi_3 {
  border-top: 0px;
  border-left: 0px;
}
.hi .highlandWear__choose__block_Hi_4 {
  width: 233px;
  height: 369px;
}
.hi .highlandWear__choose__block_Hi_4 .row1_image4 {
  width: 213px;
  height: 300px;
  margin: 10px 9px 10px 9px;
  background: url(../img/row1_img4.png) no-repeat;
}
.hi .highlandWear__choose__block_Hi_4 .text_row1_image4 {
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-right: 0px;
  height: 48px;
  margin: 10px 0px 0px 0px;
  padding: 13px 81px 13px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/row1_img1.svg) 190px 17px no-repeat;
}
.hi .highlandWear__choose__block_Hi_4 .text_row1_image4 a {
  color: black;
}
.hi .highlandWear__choose__block_Hi_5 {
  border-top: 0px;
}
.hi .highlandWear__choose__block_Hi_6 {
  width: 233px;
  height: 369px;
}
.hi .highlandWear__choose__block_Hi_6 .row1_image6 {
  width: 213px;
  height: 300px;
  margin: 10px 9px 10px 9px;
  background: url(../img/row1_img6.png) no-repeat;
}
.hi .highlandWear__choose__block_Hi_6 .text_row1_image6 {
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-right: 0px;
  height: 48px;
  margin: 10px 0px 0px 0px;
  padding: 13px 0px 13px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/row1_img1.svg) 190px 17px no-repeat;
}
.hi .highlandWear__choose__block_Hi_6 .text_row1_image6 a {
  color: black;
}

.lo {
  display: flex;
}
.lo .highlandWear__choose__block_Lo_1 {
  border-top: 0px;
  border-bottom: 0px;
}
.lo .highlandWear__choose__block_Lo_2 {
  border-top: 0px;
  border-bottom: 0px;
  width: 233px;
  height: 369px;
}
.lo .highlandWear__choose__block_Lo_2 .row2_image2 {
  width: 213px;
  height: 300px;
  margin: 10px 9px 10px 9px;
  background: url(../img/row2_img2.png) no-repeat;
}
.lo .highlandWear__choose__block_Lo_2 .text_row2_image2 {
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  height: 48px;
  margin: 10px 0px 0px 0px;
  padding: 13px 0px 13px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/row1_img1.svg) 190px 17px no-repeat;
}
.lo .highlandWear__choose__block_Lo_2 .text_row2_image2 a {
  color: black;
}
.lo .highlandWear__choose__block_Lo_3 {
  border-top: 0px;
  border-bottom: 0px;
  width: 233px;
  height: 369px;
}
.lo .highlandWear__choose__block_Lo_3 .row2_image3 {
  width: 213px;
  height: 300px;
  margin: 10px 9px 10px 9px;
  background: url(../img/row2_img3.png) no-repeat;
}
.lo .highlandWear__choose__block_Lo_3 .text_row2_image3 {
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  height: 48px;
  margin: 10px 0px 0px 0px;
  padding: 13px 0px 13px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/row1_img1.svg) 190px 17px no-repeat;
}
.lo .highlandWear__choose__block_Lo_3 .text_row2_image3 a {
  color: black;
}
.lo .highlandWear__choose__block_Lo_4 {
  border-top: 0px;
  border-bottom: 0px;
}
.lo .highlandWear__choose__block_Lo_5 {
  border-top: 0px;
  border-bottom: 0px;
  width: 233px;
  height: 369px;
}
.lo .highlandWear__choose__block_Lo_5 .row2_image5 {
  width: 213px;
  height: 300px;
  margin: 10px 9px 10px 9px;
  background: url(../img/row2_img5.png) no-repeat;
}
.lo .highlandWear__choose__block_Lo_5 .text_row2_image5 {
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  height: 48px;
  margin: 10px 0px 0px 0px;
  padding: 13px 0px 13px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/row1_img1.svg) 190px 17px no-repeat;
}
.lo .highlandWear__choose__block_Lo_5 .text_row2_image5 a {
  color: black;
}
.lo .highlandWear__choose__block_Lo_6 {
  border-top: 0px;
  border-bottom: 0px;
}

.essential_kilt_packages {
  margin: 122px 20px 0px 20px;
  border: 1px solid #6f6f6f;
  width: 1399px;
  height: 552px;
}
.essential_kilt_packages .title_essential_kilt_packages {
  background: url(..//img/union.svg) 1300px 20px no-repeat;
  height: 82px;
  padding: 20px 790px 20px 11px;
  color: var(--Almost-black, #020202);
  border-bottom: 1px solid #6f6f6f;
  color: var(--Almost-black, #020202);
  /* Headline 1 */
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 85%; /* 40.8px */
  text-transform: uppercase;
}
.essential_kilt_packages .left_and_right_block {
  display: flex;
  width: 1400px;
  height: 559px;
  background: url(..//img/line-8.png) 0 75px no-repeat, url(..//img/line-6.png) 232px 0 no-repeat;
}
.essential_kilt_packages .left_and_right_block .left_package {
  height: 410px;
  width: 700px;
  border-right: 1px solid #6f6f6f;
}
.essential_kilt_packages .left_and_right_block .left_package .left_package_img {
  width: 213px;
  height: 300px;
  background: url(..//img/rectangle-59.png) lightgray 50%/contain no-repeat;
  mix-blend-mode: darken;
  margin: 89px 5px 20px 476px;
}
.essential_kilt_packages .left_and_right_block .left_package .left_package_button_block {
  display: flex;
  width: 701px;
  height: 60px;
  padding: 8px 0px 0px 11px;
  border: 1px solid #6f6f6f;
  border-left: 0px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
}
.essential_kilt_packages .left_and_right_block .left_package .left_package_button_block .summ_left {
  padding: 10px 10px 26px 151px;
  color: var(--Almost-black, #020202);
  /* Headline 3 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
}
.essential_kilt_packages .left_and_right_block .right_package {
  height: 410px;
  width: 700px;
}
.essential_kilt_packages .left_and_right_block .right_package .right_package_img {
  width: 213px;
  height: 300px;
  background: url(..//img/rectangle-143.png) lightgray 50%/contain no-repeat;
  mix-blend-mode: darken;
  margin: 89px 5px 20px 476px;
}
.essential_kilt_packages .left_and_right_block .right_package .right_package_button_block {
  display: flex;
  width: 697px;
  height: 60px;
  padding: 10px 0px 10px 11px;
  border: 1px solid #6f6f6f;
  border-right: 0px;
  border-left: 0px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
}
.essential_kilt_packages .left_and_right_block .right_package .right_package_button_block .summ_right {
  padding: 10px 10px 32px 151px;
  color: var(--Almost-black, #020202);
  /* Headline 3 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
}

.women_and_child_block {
  display: flex;
  width: 1400px;
  height: 421px;
  border: 1px solid #6f6f6f;
  margin: 120px 20px 0px 20px;
}
.women_and_child_block .women_block {
  width: 700px;
  height: 370px;
  border-right: 1px solid #6f6f6f;
}
.women_and_child_block .women_block .img_women_block {
  width: 445px;
  height: 350px;
  flex-shrink: 0;
  background: url(..//img/rectangle-91.png), lightgray 50%/cover no-repeat;
  margin-left: 11px;
  margin-top: 10px;
  margin-bottom: 11px;
}
.women_and_child_block .women_block .women_choose {
  height: 48px;
  width: 700px;
  padding-left: 11px;
  padding-top: 10px;
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-bottom: 0px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/union.png) 600px 7px no-repeat;
}
.women_and_child_block .child_block {
  width: 700px;
  height: 370px;
}
.women_and_child_block .child_block .img_child_block {
  width: 445px;
  height: 350px;
  flex-shrink: 0;
  background: url(..//img/rectangle-92.png), lightgray 50%/cover no-repeat;
  margin-left: 11px;
  margin-top: 10px;
  margin-bottom: 11px;
}
.women_and_child_block .child_block .child_choose {
  height: 48px;
  width: 699px;
  padding-left: 11px;
  padding-top: 10px;
  border: 1px solid #6f6f6f;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  background: url(..//img/union.png) 600px 7px no-repeat;
}

.footerForm {
  width: 1400px;
  height: 103px;
  margin: 120px 20px 0px 20px;
}
.footerForm .blockHi {
  display: flex;
  width: 1399px;
  height: 52px;
  border: 1px solid #6f6f6f;
}
.footerForm .blockHi .singUp {
  width: 463px;
  height: 52px;
  padding: 16px 9px 10px 10px;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
}
.footerForm .blockHi .email {
  width: 468px;
  height: 51px;
  border: 1px solid #6f6f6f;
  border-top: 0px;
  padding-left: 10px;
  padding-top: 10px;
  color: var(--Almost-black, #020202);
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
  background: #dedede;
}
.footerForm .blockHi .buttonSubscribe {
  padding: 16px 180px 15px 179px;
  width: 465px;
  height: 51px;
  flex-shrink: 0;
  color: var(--Almost-black, #020202);
  /* Headline 2 */
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
  text-transform: uppercase;
  opacity: 0.7;
  background: var(--Grey, #6f6f6f);
}
.footerForm .blockLO {
  display: flex;
  width: 1400px;
  height: 51px;
}
.footerForm .blockLO .nonBlock {
  width: 464px;
  height: 50px;
}
.footerForm .blockLO .resultInfo {
  padding-top: 16px;
  padding-left: 10px;
  border: 1px solid #6f6f6f;
  border-top: 0px;
  width: 935px;
  height: 50px;
  color: var(--Almost-black, #020202);
  /* Text 1 */
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  opacity: 0.5;
}